/* Main app container - takes full viewport */
.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

/* The scrollable page container */
.page-wrap {
  width: 98%;
  height: 97%;
  /* background: rgb(255, 218, 218); */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden;

  /* Hide scrollbar for Chrome, Safari, Edge */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Content inside the scrollable container */
.content {
  /* min-height: 200vh; Make it taller than container to enable scrolling */
  padding: 0 5vh;
  padding-top: 10vh;
}

.Home {
  background: rgb(220, 242, 255);
}

.Project {
  background: rgb(255, 219, 219);
}

.About {
  background: rgb(210, 255, 239);
}

.Experience {
  background: rgb(255, 239, 210);
}

.Menu {
  background: rgb(255, 210, 210);
}

.menuproject {
  background: rgb(255, 164, 164);
}

.menuhome {
  background: rgb(139, 212, 255);
}

.menuexperience {
  background: rgb(245, 205, 131);
}

.menuabout {
  background: rgb(145, 255, 217);
}

.Technology {
  display: flex;
  align-items: center;
  border-radius: 9999px; /* pill shape */
  background-color: rgba(56, 178, 172, 0.319); /* bg-teal-400/10 */
  padding: 0.25rem 1rem; /* py-1 px-3 */
  font-size: 0.75rem; /* text-xs */
  font-weight: 500; /* font-medium */
  line-height: 1.25rem; /* leading-5 */
  color: #262626; /* text-teal-300 */
}

.my-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 5rem;
  padding: 1em;

  /* Invisible border initially */
  border: 2px solid transparent;
  transition: all 0.3s ease; /* smooth transition for border, background, transform */
}

.my-grid:hover {
  border-color: rgba(109, 153, 178, 0.384);
  background: rgb(184, 222, 244);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 2rem; /* spacing between h1 and span */
  cursor: pointer;
  transition: color 0.3s ease; /* smooth text color transition */
}

.menu-item h1,
.menu-item span {
  transition: color 0.3s ease;
  color: #1f2937; /* Tailwind's gray-800 */
}

.menu-item:hover h1,
.menu-item:hover span {
  color: white;
}

/* reusable hover effect */
.hover-white:hover {
  color: rgba(0, 0, 0, 0.662) !important;
  transition: color 0.3s ease;
}

.hover-underline {
  position: relative;
  display: inline-block;
}

.hover-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; /* distance from text */
  width: 0;
  height: 2px;
  background-color: currentColor; /* matches text color */
  transition: width 0.3s ease;
}

.hover-underline:hover::after {
  width: 100%;
}
